<ion-header>

  <ion-navbar>
    <ion-title>Meus Barcos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
      <ion-item *ngFor="let barco of meusBarcos" (click)="visualizarDetalhes(barco)">{{barco.nome}} - {{barco.cor}}</ion-item>
    </ion-list>

</ion-content>

<ion-content class="outer-content barco-list">
  <ion-list [virtualScroll]="meusBarcos">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let barco" approxItemHeight="457px">

          <ion-card class="barco-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                <ion-avatar item-start>
                  <img [src]="barco.fotoBarco" alt="Foto Barco">
                </ion-avatar>
                {{barco.nome}}
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <button ion-item *ngFor="let session of barco.sessions" (click)="goToSessionDetail(session)">
                  <h3>{{session.nome}}</h3>
                </button>

                <button ion-item (click)="goToSpeakerDetail(barco)">
                  <table cellspacing="10" >
                      <tr>
                          <td><strong>Cor: </strong>  </td> <td>{{barco.cor}} </td>
                      </tr> 
                      <tr>
                          <td><strong> Motor: </strong> </td> <td>{{barco.motor}} </td>
                      </tr> 
                  </table>                 
                </button>
              </ion-list>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
